
.feynman {
    width: 100%;
    height: 790px;
    background-color: #F2F2F2;
    position: relative;
  }
  
  .feynman__content {
    width:100%;
    position: absolute;
    z-index: 1;
  
  }
  
  .feynman__content__title {
    width: 775px;
    line-height: 115%;
    font-size: 120px;
    font-weight: bold;
    margin: 0px auto 0px;
    text-align: center;
  }
  
  .feynman__content__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 0px auto 0px;
    padding-top: 70px;
    text-align: center;
    
  }
  
  .feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    right: 48px;
    top: 50%;
    text-decoration: none;
    color: #2F80ED;
  }
  
  .feynman__image {
    width: 867px;
    height: 637px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;  
  }
  