
.khan{
    background-color: #F2F2F2;
    width:100%;
    padding-top: 105px;
}

.khan__container{
  width: 80%;
  margin: 0 auto;  
}
  
.khan__author{
    margin:0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}

.khan__title{
    margin: 0;
    line-height: 115%;
    font-size: 60px;
    font-weight: bold;
}

.khan__quote{
    width: 790px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 36px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.khan__quote-author{
    width: 100%;
    margin: 0;
    line-height: 115%;
    font-size: 24px;
    font-weight: bold;
}

.khan__quote-author-sublime{
    width: 100%;
    margin: 0;
    padding-top: 10px;
    line-height: 115%;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 68px;
}

.khan__book-container{
    width: 620px;
    height: 608px;
    display: inline-block;
    column-gap: 48px;
    margin: 0px;
    overflow: hidden;
}

.khan__book-pic{
    width: 100%;    
}

.khan__buy-link{
  vertical-align: top;
  text-decoration: none;
  color:#2F80ED;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-top: 68px;
}
  