.logo {
    z-index: 2;
}

.logo_place_header{
    position: absolute;
    top: 30px;
    left:64px;
    height: 31px;
    width: 154px;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position:relative;
    background-color: #F2F2F2;
    overflow: hidden;
}

.header__title{
    width: 730px;
    margin: auto 0 auto 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index: 2;
}

.header__subtitle{
    position: absolute;
    z-index: 2;
    width: 388px;
    left: 64px;
    bottom: 55px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.header__link{
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    position: absolute;
    left: 64px;
    bottom: 30px;
    text-decoration: none;
    
}
  
.header__main-illustration{
    height: 608px;
    width: 756px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.header__square{
    height: 568px;
    width: 568px;
    position: absolute;
    right: 0px;
    top: 64px;
    background-color: #2F80ED;
    z-index: 0;
    transform: rotate(-15deg);
}

.header__square-pict {
    height: 568px;
    width: 568px;
}

  