.header__link{
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    position: absolute;
    left: 64px;
    bottom: 30px;
    text-decoration: none;
}

.header__link:hover {
    opacity: 0.5;
}
  

