.footer {
  color: rgb(232, 228, 228);
  background-color: #3d3d3d;
  align-content: center;
  text-align: center;
  font-family: "Helvetica Neue Light", sans-serif;
  font-size:14pt;
  padding:2% 0;
  margin-top:3%;
}
