.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position:relative;
  background-color: #F2F2F2;
  
  /* parameters for the header section */
}
.logo {
  z-index: 2;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left:64px;
  height: 31px;
  width: 154px;
}
 

.header__title{
  width: 730px;
  margin: auto 0 auto 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle{
  position: absolute;
  z-index: 2;
  width: 388px;
  left: 64px;
  bottom: 55px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

.header__link{
  line-height: 25PX;
  font-size: 18PX;
  font-weight: normal;
  color: #2F80ED;
  position: absolute;
  left: 64px;
  bottom: 30px;
  text-decoration: none;
  
}

.header__main-illustration{
  height: 608px;
  width: 756px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.header__square{
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0px;
  top: 64px;
  background-color: #2F80ED;
  z-index: 0;
}



/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pict {
  height: 568px;
  width: 568px;
}

.description{
  padding-top: 100px;
  padding-bottom: 100px;

}

.two-columns{
 display: flex;
 justify-content: space-between;
 margin: auto;
 width: 80%;

}

.two-columns__brief{
  margin: 0;
  width:175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text{
  width:80%;
  min-width: 784px;
  

}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 30px;
  margin: 0;
}

.two-columns__span-accent{
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}



.Section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.Section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

.table {
  display: flex;
  width: 1100px;
  margin: 60px auto 100px;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 60px;
}

.table__cell {
  width: 250px;
}
  

.table__cell__heading {
  line-height: 115%;
  font-size: 24px;
  font-weight: bold;
  margin: 0%;
} 

.table__cell__text {
  line-height: 120%;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
  margin: 0;
}

.feynman {
  width: 100%;
  height: 790px;
  background-color: #F2F2F2;
  position: relative;
}

.feynman__content {
  width:100%;
  position: absolute;
  z-index: 1;
}

.feynman__content__title {
  width: 775px;
  line-height: 115%;
  font-size: 120px;
  font-weight: bold;
  margin: 0px auto 0px;
  padding-top: 100px;
  text-align: center;
}

.feynman__content__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0px auto 0px;
  padding-top: 70px;
  text-align: center;
  
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;  
}

.kaufman {
  width: 100%;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
  overflow: hidden;

}

.section-title_theme_dark{
  line-height: 115%;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto 0;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 1;
} 

.section-subtitle_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  padding-top: 20px;
  margin: 0 auto 0;
  text-align: center;
  color: #ffffff;

}

.table_theme_dark{
  display: flex;
  width: 1100px;
  margin: 0px auto 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
  padding-top: 80px;
  padding-left: 0;
}

.table__cell_theme_dark{
  width: 200px;
  z-index: 1;
  list-style: none;
  
}

.table__heading_theme_dark{
  line-height: 115%;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}


.table__text_theme_dark{
  line-height: 120%;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #ffffff;


}

.kaufman__triangle{
  position: absolute;
  right: -124px;
  top: 0px;
  z-index: 0;
}


.footer{
  background-color: #000000;
  height: 350px;
}

/* contenedor principal
1, contiene a contenedor 2, 3 y 4 */

.footer__columns{
  width:90%;
  height: 55%;
  margin: auto;
  padding-top:  60px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 2  tiene a 5 y 6*/
.footer__column_content_copyright{
  flex-basis: 711px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between

}

/* 5 */
.logo_place_footer{
  width: 183px;
  height: 35px;
}

/* 6 */
.footer__author{
  width: max-content;
  color: #ffffff;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  
}
/*contenedor 3 */
.footer__column_content_about{
  width: auto;
  display: flex;
  flex-direction: column;

}

.footer__column-heading{
  width: max-content;
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;

}

.footer__list{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  color: #f2f2f2;
  list-style: none;
  text-decoration: none;
}

/*contenedor 4*/

.footer__column_content_social{
  width:auto;
  display: flex;
  flex-direction: column;
}

.footer__social-icons{
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
