.khan__buy-link{
    vertical-align: top;
    text-decoration: none;
    color:#2F80ED;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin-top: 68px;
}
    
.khan__buy-link:hover {
      opacity: 0.5;
}